<?xml version="1.0" ?>
<robot name="roarm_m2">

  <material name="silver">
    <color rgba="0.700 0.700 0.700 1.000"/>
  </material>

  <link name="world"/>

  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0032 0 0.0417"/>
      <mass value="0.2562183"/>
      <inertia ixx="0.00029211" ixy="0" ixz="0" iyy="0.00035719" iyz="0" izz="0.000349421"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/roarm_m2/base_link.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/roarm_m2/base_link.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 -0.015"/>
      <mass value="0.0729177"/>
      <inertia ixx="4.68465E-05" ixy="0" ixz="0" iyy="3.32107E-05" iyz="0" izz="5.01023E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/roarm_m2/link1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/roarm_m2/link1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="link2">
    <inertial>
      <origin rpy="0 0 0" xyz="0.11841 0.012245 0"/>
      <mass value="0.0703216"/>
      <inertia ixx="5.46501E-05" ixy="0" ixz="0" iyy="0.000423091" iyz="0" izz="0.000404557"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/roarm_m2/link2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/roarm_m2/link2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="link3">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0015735 -0.083617 -0.00085"/>
      <mass value="0.0181535"/>
      <inertia ixx="5.50661E-05" ixy="0" ixz="0" iyy="3.08352E-06" iyz="0" izz="5.43323E-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/roarm_m2/link3.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/roarm_m2/link3.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="hand_tcp"/>
  <joint name="world_to_base_link" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    <parent link="world"/>
    <child link="base_link"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>
  <joint name="base_link_to_link1" type="revolute">
    <origin rpy="0 0 0" xyz="0.0100000008759151 0 0.123059270461044"/>
    <parent link="base_link"/>
    <child link="link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="0" lower="-3.1416" upper="3.1416" velocity="0"/>
  </joint>
  <joint name="link1_to_link2" type="revolute">
    <origin rpy="-1.5708 -1.5708 0" xyz="0 0 0"/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="0" lower="-1.5708" upper="1.5708" velocity="0"/>
  </joint>
  <joint name="link2_to_link3" type="revolute">
    <origin rpy="0 0 1.5708" xyz="0.236774 0.0300023995170449 0"/>
    <parent link="link2"/>
    <child link="link3"/>
    <axis xyz="0 0 1"/>
    <limit effort="0" lower="-1" upper="2.95" velocity="0"/>
  </joint>
  <link name="gripper_base">
    <inertial>
      <origin rpy="0 0 0" xyz="0.007778 0.0077455 0"/>
      <mass value="0.0144765"/>
      <inertia ixx="4.13143E-06" ixy="0" ixz="0" iyy="1.89353E-05" iyz="0" izz="2.00226E-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/gripper/gripper_base.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/gripper/gripper_base.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.02899 -0.002803 0.000779"/>
      <mass value="0.0028708"/>
      <inertia ixx="5.23292E-07" ixy="0" ixz="0" iyy="1.82071E-06" iyz="0" izz="1.60231E-06"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/gripper/gripper_link.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="silver"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/gripper/gripper_link.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="gripper_joint" type="revolute">
    <axis xyz="0 0 -1"/>
    <limit effort="1000.0" lower="0" upper="1.57" velocity="0.5"/>
    <parent link="gripper_base"/>
    <child link="gripper_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <joint name="link3_to_hand_tcp" type="fixed">
    <origin rpy="1.5708 0 -1.5708" xyz="0.002 -0.2802 0"/>
    <parent link="link3"/>
    <child link="hand_tcp"/>
    <axis xyz="0 0 0"/>
  </joint>
  <joint name="link3_to_gripper_base" type="fixed">
    <origin rpy="1.5708 0 -1.5708" xyz="0.002906 -0.21599 -0.00066683"/>
    <parent link="link3"/>
    <child link="gripper_base"/>
    <axis xyz="0 0 1"/>
  </joint>
</robot>
